services:
  web:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    environment:
      - DEBUG=true
    depends_on:
      - app
    networks:
      - default_network

  db:
    image: postgres:latest
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=password
    networks:
      - default_network

  app:
    build:
        dockerfile: Dockerfile
    volumes:
      - .:/app
    command: python /app/app.py 
    depends_on:
      - db  
    networks:
      - default_network 

networks:
  default_network:
    driver: bridge
